@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[var(--bg-app)] text-[var(--text-main)] font-body antialiased;
    }

    /* Material Symbols CLS Fix */
    .material-symbols-outlined {
        font-display: block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }
}